body {
    font-family: "Montserrat", serif;
    color:  rgb(105, 70, 70);

}

h1 {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    text-align: center;
    background-color: rgb(255, 233, 247);
    font-size: 2.3em;
    padding: 20px;
}

header {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between; */
    background-color: rgb(255, 233, 247);
    border: 3px rgb(105, 70, 70) solid;
}

/* header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 3.5%;
} */


.nav_links {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    list-style: none;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-left: 3.5%;
}

.nav_links a {
    border: 3px rgb(105, 70, 70) solid;
    padding: 10px;
    list-style: none;
    text-decoration: none;
    background-color: white;
    color:  rgb(105, 70, 70);
}

.nav_links a:hover {
    /* color: red; */
    text-decoration: underline;
    /* background-color: rgba(236, 184, 184, 0.712); */
    background-color: rgb(219, 201, 213);
}

.current {
    text-decoration:underline;
}
/* 
.skip{
    background: white;
    left: -40px;
    padding: 6px;
    position: absolute;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    top: -40px;
  } */

  /* FIX THE SKIP TO CONTENT */

 /* .skip:focus{
    top:0px;
    left: 0px;
    position: absolute;
    top: 0px; */

  



  .whoami {
    text-align: center;
    padding: 20px; 
  }

  h2 {
      text-align: center;
      border: 2px rgb(105, 70, 70) solid;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 2em;
      margin-left: 3%;
      margin-right: 3%;
      background-color: rgb(255, 233, 247);

  }

  .topblurb {
    border: 2px rgb(105, 70, 70) solid;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
  }

  .topblurb p {
      /* margin-left: 3%;
      margin-right: 3%; */
      text-align: center;
      padding: 10px;
  }

  footer{
    background-color: rgb(105, 70, 70);
    color: white;
    padding: 3px;
    text-align: center;
    font-size: 1.25em;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 15px;
  }

  footer a{
      color: white;
  }

#biopic {
    width: 16em; 
    height: 20em;
    /* position: relative;  */
    padding-top: 20px;
}

.bio {
    border: 2px rgb(105, 70, 70) solid;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(255, 233, 247);
    text-align: center;
    margin-top: 20px;
}

.bio li {
    list-style: none;
    padding: 5px;
}

.bio ul {
    padding: 15px;
}

.cakes{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 5fr 5fr;
    width: 90%;
    margin-left: 7%;
    grid-gap: 0px;
}

img {
    height: 90%;
    width: 90%;
    object-fit: cover;
    padding: 0px;
    margin: 0px;
}

#cakes_description {
    grid-column: 1/-1;
    grid-row-start: 3;
    padding-bottom: 10px;
}

.container {
    border: 2px rgb(105, 70, 70) solid;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.container:nth-child(even){
    background-color: rgb(255, 233, 247);
}

.cookies{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 5fr 5fr;
    width: 90%;
    margin-left: 7%;
    grid-gap: 0px;
}

#cookies_description {
    grid-column: 1/-1;
    grid-row-start: 3;
    padding-bottom: 10px;
}

.xmascookies{
    grid-column: 1/2;
    grid-row-start: 1;
}

.lovett{
    grid-column: 2/2;
    grid-row-start: 1;
}


.other{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    /* grid-template-rows: 5fr 5fr; */
    width: 90%;
    margin-left: 7%;
    grid-gap: 0px;
}

#other_description{
    grid-column: 1/-1;
    grid-row-start: 3;
    padding-bottom: 10px;
}

#top {
    text-align: center;
    border: 2px rgb(105, 70, 70) solid;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    margin-left: 3%;
    margin-right: 3%;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}



.container p {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}



/* #ricecontainer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2%;
}

#rice {
    background-color: rgb(255, 233, 247);
    border: 2px rgb(105, 70, 70) solid;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    margin-left: 3%;
    margin-right: 5%;
    grid-column: 1/-1;
    grid-row-start: 1;
}

#rice1 {
    object-fit: cover;
    grid-column-start: 2;
    grid-row-start: 3;
    margin-left: 10%;

}

#rice2 {
    grid-column: 1/2;
    grid-row-start: 3;
    margin-right: 10%;
    object-fit: cover;

}

.rice_paragraph {
    grid-column: 1/-1;
    grid-row-start: 2;
} */


.riceclass {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 5fr 5fr;
    width: 90%;
    margin-left: 7%;
    grid-gap: 0px;
}

#rice_paragraph {
    grid-column: 1/-1;
    grid-row-start: 2;
    padding-bottom: 10px;
}

.rice1{
    grid-column: 1/2;
    grid-row-start: 3;
}

.rice2{
    grid-column: 2/2;
    grid-row-start: 3;
}



#breadcontainer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2%;
}

#bread {
    background-color:white;
    /* text-align: center; */
    border: 2px rgb(105, 70, 70) solid;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    margin-left: 3%;
    margin-right: 5%;
    grid-column: 1/-1;
    grid-row-start: 1;
}

#challah {
    object-fit: cover;
    grid-column-start: 2;
    grid-row-start: 3;
    margin-right: 10%;

}

#bagel {
    grid-column: 1/2;
    grid-row-start: 3;
    margin-left: 10%;
    object-fit: cover;
}

#pretzel {
    grid-column: 1/2;
    grid-row-start: 4;
    margin-left: 10%;
    object-fit: cover;

}

#wholegrain {
    grid-column-start: 2;
    grid-row-start: 4;
    object-fit: cover;
    margin-right: 10%;

}

.bread_paragraph {
    grid-column: 1/-1;
    grid-row-start: 2;
}

/* #creampuffcontainer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2%;
} */

#creampufftitle{
    background-color:white;
    /* text-align: center; */
    border: 2px rgb(105, 70, 70) solid;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    margin-left: 3%;
    margin-right: 5%;
    grid-column: 1/-1;
    grid-row-start: 1;
}

.container ul {
    padding-left: 26px;
    list-style:circle;
    padding-bottom: 15px;
}

#filling {
    list-style: none;
    text-align: center;
    /* margin-right:10%; */
    text-decoration: underline;
    padding-bottom:5px;
}

#puffbase {
    list-style: none;
    text-align: center;
    /* margin-right:10%; */
    text-decoration: underline;
    padding-bottom:5px;
}

#creampuffspic{
    width: 90%;
    margin-left: 5%;
    padding-bottom:5%;
}

#donutstitle{
    background-color: white;
    /* text-align: center; */
    border: 2px rgb(105, 70, 70) solid;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    margin-left: 3%;
    margin-right: 5%;
    grid-column: 1/-1;
    grid-row-start: 1;
}

#donutspic{
    width: 90%;
    margin-left: 5%;
    padding-bottom:5%;
}

#dressing{
    list-style: none;
    text-align: center;
    margin-right:10%;
    text-decoration: underline;
    padding-bottom:5px;
}

#saladtitle{
    background-color: rgb(255, 233, 247);
    /* text-align: center; */
    border: 2px rgb(105, 70, 70) solid;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    margin-left: 3%;
    margin-right: 5%;
    grid-column: 1/-1;
    grid-row-start: 1;
}
#saladpic{
    width: 90%;
    margin-left: 5%;
    padding-bottom:5%;
}

#focacciatitle{
    background-color: rgb(255, 233, 247);
    /* text-align: center; */
    border: 2px rgb(105, 70, 70) solid;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    margin-left: 3%;
    margin-right: 5%;
    grid-column: 1/-1;
    grid-row-start: 1;
}

#focacciapic{
    width: 90%;
    margin-left: 5%;
    padding-bottom:5%;
}

#gnocchititle{
    background-color: white;
    /* text-align: center; */
    border: 2px rgb(105, 70, 70) solid;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    margin-left: 3%;
    margin-right: 5%;
    grid-column: 1/-1;
    grid-row-start: 1;
}

#gnocchipic{
    width: 90%;
    margin-left: 5%;
    padding-bottom:5%;
}

#pastatitle{
    background-color: rgb(255, 233, 247);
    border: 2px rgb(105, 70, 70) solid;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    margin-left: 3%;
    margin-right: 5%;
    grid-column: 1/-1;
    grid-row-start: 1;
}
#pastapic{
    width: 90%;
    margin-left: 5%;
    padding-bottom:5%;
}

#pastaarticle{
    background-color: rgb(255, 233, 247);
    border: 2px rgb(105, 70, 70) solid;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    margin-left: 3%;
    margin-right: 5%;
    grid-column: 1/-1;
    grid-row-start: 1;
}

#contacts{
    background-color: rgb(255, 233, 247);
    border: 2px rgb(105, 70, 70) solid;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    margin-left: 3%;
    margin-right: 5%;
    /* grid-column: 1/-1;
    grid-row-start: 1; */
    text-align: center;
    margin-top: 10px;
}

.container1{
    border: 2px rgb(105, 70, 70) solid;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    /* grid-template-columns: 50% 50%; */
}

.contactlist li{
    list-style-type: "\1F44D";
    padding: 10px;
    margin-left: 40px;
}


#springrollpic{
    width: 90%;
    margin-left: 5%;
    padding-bottom:5%;
}

#springrolltitle{
    background-color: white;
    border: 2px rgb(105, 70, 70) solid;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    margin-left: 3%;
    margin-right: 5%;
    grid-column: 1/-1;
    grid-row-start: 1;
}

#squashtitle{
    background-color: white;
    border: 2px rgb(105, 70, 70) solid;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    margin-left: 3%;
    margin-right: 5%;
    grid-column: 1/-1;
    grid-row-start: 1; 
}

#squashpic{
    width: 90%;
    margin-left: 5%;
    padding-bottom:5%;
}